<!DOCTYPE html>
<html lang="en" ng-app="tt-bc">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimeSheet Gen</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" ng-controller="mainCtrl">
      <h1>
        <img src="logo-2.png" alt="Timesheet Generator Logo">
        Timesheet Generator
      </h1>

      <div class="row">
        <div class="col-md-8">
          <div class="calendar clearfix">
            <h2 class="month-title">
              {{curMonth | monthName | capitalize}} {{curDateJs | date:'yyyy'}}
            </h2>

            <div class="cal-container clearfix">
              <div class="weekDays">
                <div class="weekDay" ng-repeat="weekDay in weekDays">{{weekDay}}</div>
              </div>

              <div class="calDay" ng-repeat="day in days" ng-class="{'outside-scope': !day.inMonth, 'weekend': day.isWeekend, 'vacation': day.isVacation, 'holidays': day.isHolidays}">
                <div class="day">{{day.label}}</div>
                <div class="title" ng-show="day.dayDesc">{{day.dayDesc}}</div>

                <div class="controls" ng-hide="!day.inMonth">
                  <a class="btn btn-xs btn-default" ng-click="markVacation($event, day)" ng-class="{'btn-primary': day.isVacation}">Urlop</a>
                </div>
              </div>
            </div>
            <p class="text-muted">
              <i class="fa fa-question-circle"></i>
              Dłuższy urlop? Zaznacz pierwszy dzień urlopu, przytrzymaj <kbd>shift</kbd> i wybierz ostatni dzień nieobecności.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <form style="margin-top: 33px;">
            <div class="form-group">
              <label for="fullName" class=" control-label">Imię Nazwisko</label>
              <div class="">
                <input type="text" class="form-control" id="fullName" ng-model="timesheet.basic.fullName">
              </div>
            </div>
            <div class="form-group">
              <label for="title" class=" control-label">Stanowisko</label>
              <div class="">
                <input type="text" class="form-control" id="title" placeholder=".NET Developer" ng-model="timesheet.basic.title">
              </div>
            </div>
            <div class="form-group">
              <label for="projName" class=" control-label">Nazwa projektu</label>
              <div class="">
                <input type="text" class="form-control" id="projName" ng-model="timesheet.basic.projectName">
              </div>
            </div>
            <div class="form-group">
              <label for="manager" class=" control-label">Przełożony</label>
              <div class="">
                <input type="text" class="form-control" id="manager" ng-model="timesheet.basic.manager">
              </div>
            </div>
            <div class="form-group">
              <label for="client" class=" control-label">Miejsce świadczenia usług</label>
              <div class="">
                <input type="text" class="form-control" id="client" ng-model="timesheet.basic.client">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary pull-right" ng-click="saveBasicData()">Zapisz</button>
            </div>
          </form>
        </div>
      </div>

      <div class="main-controls">
        <button class="btn btn-primary btn-lg" ng-click="saveAndPrint()">Przejdź do wydruku &raquo;</button>
      </div>

    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sugar/release/sugar.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/locale/pl.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <!-- <script src="bower_components/angular-i18n/angular-locale_pl.js"></script> -->
    <script src="app.js"></script>
    <script src="calendarService.js"></script>
    <script src="calendarHelper.js"></script>
    <script src="mainCtrl.js"></script>
  </body>
</html>