<!DOCTYPE html>
<html lang="en" ng-app="tt-bc">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimeSheet Gen</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" ng-controller="mainCtrl">
      <h1>Generator</h1>

      <form class="form-horizontal">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="fullName" class="col-sm-5 control-label">Imię Nazwisko</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="fullName" ng-model="timesheet.basic.fullName">
              </div>
            </div>
            <div class="form-group">
              <label for="title" class="col-sm-5 control-label">Stanowisko</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="title" placeholder=".NET Developer" ng-model="timesheet.basic.title">
              </div>
            </div>
            <div class="form-group">
              <label for="projName" class="col-sm-5 control-label">Nazwa projektu</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="projName" ng-model="timesheet.basic.projectName">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="manager" class="col-sm-5 control-label">Przełożony</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="manager" ng-model="timesheet.basic.manager">
              </div>
            </div>
            <div class="form-group">
              <label for="client" class="col-sm-5 control-label">Miejsce świadczenia usług</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="client" ng-model="timesheet.basic.client">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary pull-right" ng-click="saveBasicData()">Zapisz</button>
            </div>
          </div>
        </div>
      </form>
      <!-- <h3>{{ calendarTitle }}</h3>
      <div class="btn-group">
        <button class="btn btn-default" mwl-date-modifier date="calendarDay" decrement="calendarView">
          &laquo;
        </button>
        <button class="btn btn-default" mwl-date-modifier date="calendarDay" set-to-today>
          Dziś
        </button>
        <button class="btn btn-default" mwl-date-modifier date="calendarDay" increment="calendarView">
          &raquo;
        </button>
      </div> -->


      <div class="calendar">
        <div class="row">
          <div class="col-sm-6">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Dzień</th>
                  <th>Opis</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="day in days" ng-class="{ 'is-weekend': day.isWeekend }">
                  <td>{{day.label}}</td>
                  <td>{{day.dayDesc}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-6">
            <legend>Urlopy</legend>

          </div>
        </div>
      </div>

      <div class="main-controls">
        <button class="btn btn-primary btn-lg" ng-click="saveAndPrint()">Przejdź do wydruku &raquo;</button>
      </div>

    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/sugar/release/sugar.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/locale/pl.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="calendarService.js"></script>
    <script src="calendarHelper.js"></script>
    <script src="mainCtrl.js"></script>
  </body>
</html>